# Core Discovery & Data
pandas
numpy
matplotlib
seaborn
pyyaml
requests
networkx

# Structural Bioinformatics
rdkit

# Interactive Dashboard
streamlit
plotly

# Document Generation
python-docx

# Deep Learning
torch
torch-geometric
scikit-learn
